.aboutme {
  padding-left: 40px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin-top: 100px;
  margin-bottom: 100px;
}

.aboutme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  max-width: 1100px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  height: 70%;
}



.aboutme-text {
  flex: 1;
}



/* .aboutme-text p {
  margin-bottom: 15px;
  line-height: 1.6;
  color: #ddd;
} */

.aboutme-btn {
  padding: 12px 24px;
  background: linear-gradient(135deg, #7b2ff7, #f107a3);
  color: #fff;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.aboutme-btn:hover {
  transform: translateY(-3px);
  opacity: 0.9;
}

.aboutme-image {
  flex: 1;
  overflow: hidden;
  box-shadow: 
              /* Second shadow: a more vibrant, colored glow */
              0 0 60px rgba(128, 0, 128, 0.7), /* Purple glow */
              /* Third shadow: an even wider, lighter glow */
              0 0 100px rgba(128, 0, 128, 0.4); /* Lighter purple glow */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 550px;
    border-radius: 100%;
    scale: 0.8;
}

.aboutme-image img {
  width: 100%;
  height: 100%;
  /* scale: 0.5; */
  transform: scaleX(-1);
  /* max-width: 400px; */
  border-radius: 70000px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
  image-resolution: 1080px;
  object-fit: cover;
    border: 5px inside rgba(191, 102, 204, 30%);
}

.aboutme-left{
    position: relative;
}

@keyframes liquidWave {
  0% { transform: scale(1, 1) translate(0, 0); }
  25% { transform: scale(1.05, 1.05) translate(5px, -5px); }
  50% { transform: scale(1, 1) translate(0, 0); }
  75% { transform: scale(1.05, 1.05) translate(-5px, 5px); }
  100% { transform: scale(1, 1) translate(0, 0); }
}

.glass-circle1{
    position: absolute;
    top: 50px;
    right: 395px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(26, 8, 22, 0.35);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    animation: liquidWave 8s ease-in-out infinite;
}

.glass-circle2{
    position: absolute;
    top: 350px;
    right: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgba(26, 8, 22, 0.35);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    animation: liquidWave 8s ease-in-out infinite;
}

.aboutme-paragraph{
    font-size: 16px;
    line-height: 32px;
    font-family: "Nunito", sans-serif;
    color: #ffffff;
    margin-bottom: 40px;
}

/* Responsive */
@media (min-width: 768px) {
  .aboutme-container {
    flex-direction: row;
    align-items: center;
  }
}
