.project-card {
  position: relative;
  width: 820px; /* Adjust as needed */
  height: 410px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  margin: 0 16px;
}

.card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.card-glass-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  /* Key CSS for the glass effect */
  background: rgba(22, 0, 26, 0.9);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.card-content {
  position: relative;
  z-index: 3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  color: #fff;
}

/* Styles for text and pills */
.card-title {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 4px;
  color: #FBF5FF;
}

.skill-pills {
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.skill-pill {
  background-color: #7A2D86;
  color: #fff;
  padding: 6px 12px;
  border-radius: 100px;
  font-size: 0.8rem;
}

.card-description {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-size: 18px;
  margin-bottom: 4px;
  color: #ffffff;
}

.card-button {
    align-self: flex-end;
     display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    height: 44px;
    width: max-content;
    border-radius: 24px;
    outline: none;
    border: none;
    background-color: #FAEEC8;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 5px rgba(247, 208, 138, 0.4);
}

.card-button:hover {
    background-color: #f5da7e;
    /* box-shadow: 0 0 10px rgba(247, 208, 138, 0.6); */
    transform: translateY(-1px);
}